<<<<<<< HEAD
/**********************************************
*** ЕРӨНХИЙ
**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** ТОГЛОГЧИД
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }
=======
:root{
    --primary-color: #88bdf2;
    --secondary-color:#384959;
    --max-width:1100px;
    --overlay-color:rgba(52, 115, 169, 0.85);
    --span: #6a89a7;
}
span{
    color: rgba(52, 115, 169, 0.85);;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--secondary-color);
}
body{
    font: normal 1rem/1.5rem 'Arial', sans-serif;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    overflow-x: hidden;
    padding-bottom:50px;
}
#main-header{
    background: var(--secondary-color);
    padding:4rem 0;
}
.container{
    max-width: var(--max-width);
    margin:100px auto;
    text-align: center;

}
h1{
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
}
#timeline ul{
    background:var(--primary-color);
    padding:50px 0;
}
#timeline ul li{
    list-style: none;
    position:relative;
    width:6px;
    margin:0 auto;
    padding-top: 50px;
    background:var(--secondary-color);
}
/* box-uud */
#timeline ul li div{
    position: relative;
    bottom: 0;
    width:400px;
    padding:1rem;
    background: var(--secondary-color);
    transition: all 0.5s ease-in-out;
    /* visibility: hidden;
    opacity:0; */
}
/* Right side */
#timeline ul li:nth-child(odd) div {
    left: 40px;
    /* transform: translate(300px,0); */
}
/* Left side */
#timeline ul li:nth-child(even) div {
    right: 434px;
    /* transform: translate(-300px,0); */
}
/* Дугуй цэгүүд */
#timeline ul li:after{
    content: '';
    position: absolute;
    left:50%;
    bottom:0px;
    width:25px;
    height: 25px;
    background:var(--secondary-color);
    border-radius: 50%;
    transform: translateX(-50%);
    transition:background 0.5s ease-in-out;
}
/* Arrows at the bottom of boxs */
#timeline div:before{
    content:'';
    position:absolute;
    bottom: 5px;
    width:0;
    height:0;
    border-style: solid;
    
}
/* rigth arrows */
#timeline ul li:nth-child(odd) div:before{
    left:-15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
    
}
/* Left arrows */
#timeline ul li:nth-child(even) div:before{
    right:-15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent  transparent transparent var(--secondary-color);
   
}
/* show boxs */
.timeline ul li .show div{
    transform:none;
}
@media(max-width:900px)
{
    #timeline ul li div{
        width:300px;
    }
    #timeline ul li:nth-child(even) div{
        left:-334px;
    }
}
@media(max-width:600px){
    #timeline ul li{
        margin-left:20px;
    }
    #timeline ul li div{
        width: calc(100vw - 110px)
    }
    #timeline ul li:nth-child(even) div{
        left:40px;
    }
    #timeline ul li:nth-child(even) div:before{
        left:-15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color) transparent transparent;   
    }
}
>>>>>>> 390ecb1c780528c2aa55aef28939c2d84fbfb742
